.container{
    margin-top:850px;
}
.Unique{
    font-family:"Roboto";
    color:#f7762c;
    font-size:40px;
}
.Clothing{
    font-family:"Roboto";
    color:#1b1b1b;
    font-size:20px
}
.Conclusion{
    font-family:"Roboto";
    color:#fe8742;
    font-size:40px;
}